.Rproj.user
.Rhistory
.RData
.Ruserdata
**/env

# Ignore data
**/KO_HKTB
**/KO_Naive
**/WT_HKTB
**/WT_Naive
**/KO_Mock
**/WT_Mock
**/KO_results
**/velocyto
files/naive.integrated.*


# Ignore images, html files, and pdf files - may want to change this if we use this repo to prepare a publication
*.html
*.pdf
*.png
*.bam
*.bai
*.h5*
